<div class="container my-4">

  <h1>Here are all your tasks</h1>
  <ul> <% @tasks.each do |task| %>
    <li><%= "#{task.title} - #{task.details}" %></li>
    <% end %>
  </ul>

  <div>
    <p><%= link_to 'Create a new task', tasks_new_path  %></p>
  </div>

</div>
