<div class="container my-4">

  <h1 class="mb-5">Here are all your tasks</h1>
  <table style="height: 100px;">
    <tbody>
    <tr>
      <% @tasks.each_with_index do |task, index| %>
        <tr>
          <td> <% if task.completed %>
            <i class="far fa-check-square col-1 align-middle" style="color: #007bff"></i>
          <% else  %>
            <i class="far fa-square col-1" style="color: #007bff"></i>
          <% end  %></td>
          <td class=""><%= link_to task.title, task_path(task)%></td>
          <td>
            <%= link_to task_path(task), method: :delete do %>
              <i class="far fa-trash-alt px-2" style="color:#007bff"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tr>
    </tbody>
  </table>


  <div>
    <p><i class="fas fa-plus mt-4 pr-2" style="color: #007bff; font-size:13px"></i><%= link_to 'Create a new task', tasks_new_path  %></p>
  </div>

</div>




